.container {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #a09f9fa4;
}

.box {
  width: 25rem;
  height: 35rem;
  padding: 3%;

  background-color: #242424;
  color: #fff;

  overflow: auto;
}

.bigBoxComment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
